body {
    align-items: center;
    padding: 10px;
    margin: 100px;
    justify-content: center;
    font-family: fantasy;
    font-size: 50px;
    background-color: black;
    color: white;
}
 
body.correct {
    background-color: green;
  }
  
  body.wrong {
    background-color: red;
  }
/*style for the buttons and quiz content*/
.container {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 88vw;
    height: 80vh;
    text-align: center;
    background-color:black;
    border: 5px solid white;
}


.button-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 15px;
    margin: 50px 0;
}

.buttons {
 background-color: white;
}

.buttons:hover {
    border-color: white;
    cursor: pointer;
}

.button.correct {
   background-color: green;
    color: white;
  }
  
  .button.wrong {
    background-color: red;
    color: white;
  }


.start-button {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px, 20px;
}   


.next-button {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px, 20px;
}   


.button-controls {
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:black;

}


.hide .next-button {
 display: none;   
}


.high-score {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: left;
    align-items: right;
    width: 88vw;
    height: 300px;
    text-align: center;
    background-color:black;
    border: 5px solid white;
}