body {
    padding: 10px;
    justify-content: center;
    font-family: fantasy;
    font-size: 50px;
    background-color: black;
    color: white;
}


#js_timer {
  text-align: center;
}
#timer{
  color: #000;

}


/*style for the buttons and quiz content*/
.container {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-color: darkgreen;
    border: 5px solid white;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.buttons {
    color: white;
    background-color: black;

}

.buttons:hover {
    border-color: black;
}

.start-button {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px, 20px;
}   


.next-button {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px, 20px;
}   


.button-controls {
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:black;

}

.hide .next-button {
 display: none;   
}
